<html lang="en">
  <head>
    {% include 'partials/head.html' %}
  </head>
  <body class="container-fluid">
    <header>
            {% include 'partials/header.html' %}
    </header>

    <main class="main">
       <div class="row">        
        <div class="col-sm-12">
            <div class="alert alert-success" role="alert">
                {{error}}
            </div>
        </div>
        
    </main>

    <footer>
        {% include 'partials/footer.html' %}
    </footer>
  </body>
</html>
